#hid {
  display: none;
}
a {
  text-decoration: none;
}
.cc {
  font-family:굴림;
  font-size: 3.5vmax;
  font-weight: bold;
  text-align:center;
  color:#007fff;
  margin:1%;
  margin-bottom: 0%;
  padding:1%;
  padding-bottom: 0%;
}
body {
  margin:1%;
  padding:2%;
  padding-top:1%;
}
#flow {
  font-size: 1.8vmax;
  line-height: 100%;
  padding-left: 5%;
  padding-right: 5%;
}
#first {
  display:grid;
  grid-template-columns:40% 60%;
  border-bottom:1px solid black;
}
#first-l {
  margin:5%;
  padding:5%;
  padding-top:10%;
}
#first-r {
  margin:2%;
  padding:2%;.
  padding-left:10%;
  font-size: 2.0vmax;
  font-weight: bold;
  line-height: 150%;
}
ul {
  padding:0%;
  list-style-type: none;
}
#second {
  padding:5%;
  padding-left:15%;
}
#third {
  padding:5%;
  padding-left:15%;
}
#drt {
  padding:5%;
  padding-left:0%;
}
#bottom {
font-size: 0.5vmax;
text-align:center;
color: gray;
}
h2 {
  font-size: 1.8vmax;
}
p {
  font-size: 1.3vmax;
  line-height: 180%;
}
@media(min-width:800px) {
  #round {
    display:grid;
    grid-template-columns:20% 40% 40%;
  }
  #first {
    display:block;
    border-right:1px solid black;
    border-bottom:none;
  }
  #first-r {
    font-size: 1.6vmax;
    padding-left:10%;
  }
  #second {
    padding:10%;
  }
  #third {
    padding:10%;
  }
}
