#hid {
  display: none;
}
.cc {
  font-family:굴림;
  font-size: 3.5vmax;
  text-align:center;
  text-decoration: none;
  color:#007fff;
  margin:1%;
  padding:1%;
}
body {
  margin:1%;
  padding:2%;
  padding-top:1%;
}
#see {
  display:grid;
  grid-template-columns:25% 1fr;
}
#left {
  font-size: 1.8vmax;
  text-decoration: none;
  color:gray;
  line-height: 200%;
  list-style-type: none;
  border-right:1px solid black;
  margin:2%;
  padding:2%;
}
#right {
  padding:2%;
}
h2 {
  font-size: 1.8vmax;
}
p {
  font-size: 1.5vmax;
}
@media(max-width:800px) {
  #see {
    display:block;
  }
  #left {
    border-right:none;
    border-bottom:1px solid black;
  }
}
