#hid {
  display: none;
}
a {
  text-decoration: none;
}
.cc {
  font-family:굴림;
  font-size: 3.5vmax;
  font-weight: bold;
  text-align:center;
  color:#007fff;
  margin:1%;
  margin-bottom: 0%;
  padding:1%;
  padding-bottom: 0%;
}
body {
  margin:1%;
  padding:2%;
  padding-top:1%;
}
#flow {
  font-size: 1.6vmax;
  line-height: 100%;
  padding-left: 5%;
  padding-right: 5%;
}
#grid {
  display:grid;
  grid-template-columns:20% 35% 45%;
  border-bottom:1px solid black;
}
#left {
  font-size: 1.6vmax;
  font-weight: bold;
  color:gray;
  line-height: 200%;
  list-style-type: none;
  border-right:1px solid black;
  margin:2%;
  padding:2%;
  padding-top:15%;
}
#han {
  width:90%;
}
#cnt {
  padding:2%;
  padding-left: 6%;
}
#right {
  padding:2%;
  padding-left: 6%;
}
h2 {
  font-size: 1.8vmax;
}
p {
  font-size: 1.2vmax;
  line-height: 180%;
}
@media(max-width:800px) {
  #grid {
    display:block;
  }
  #left {
    padding-top:2%;
    border-right:none;
    border-bottom:1px solid black;
  }
  #han {
    width:30%;
  }
}
#bottom {
  font-size: 0.5vmax;
  text-align:center;
  color: gray;
}
